---
name: Lint

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3
      - uses: codespell-project/actions-codespell@v2.2
        with:
          check_hidden: false
      - name: Run yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: "./"
          config_file: "./.yaml-lint.yaml"
          strict: true
